<% action = sub.persisted? ? sub_url(sub) : subs_url %>
<% method = sub.persisted? ? "PATCH" : "POST" %>
<% submit_text = sub.persisted? ? "Edit #{sub.title}" : "Create a new subspreadit." %>

<form action="<%= action %>" method="POST">
  <input type="hidden" name="_method" value="<%= method %>">
  <%= auth_token %>

  <label for="title">Title</label>
  <input type="text" name="sub[title]" id="title" value="<%= sub.title %>">

  <br><br>

  <label for="description">Description</label>
  <textarea name="sub[description]" id="description"><%=sub.description%></textarea>

  <br><br>

  <input type="submit" value="<%= submit_text %>">
</form>
